@import "./variables.scss";

:global(body, html) {
    height: 100%;
}

:global(body) {
  font-family: $fontParagraph;
  color: $white;
  background-color: $darkGrey;
  margin: 0;
}

@for $i from 1 through 6 {
  :global(h#{$i}) {
    font-family: $fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}