@import "./variables.scss";

.header {
  overflow: auto;
  border-bottom: 1px solid $blue;
  height: 70px;
  box-sizing: border-box;
  font-family: $fontHeader;
}

.links {
  float: left;
  ul {
    list-style: none;
    li {
      display: inline;
      margin: 5px;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
  
.nameLink {
  font-size: 1.4em;
}