@import "./variables.scss";

.postDate {
  float: right;
}

.postTitle {
  color: $blue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $fontHeader;
  font-size: 1.2em;
  float: left;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  border-bottom: 1px solid $blue;
}

.postExcerpt {
  text-align: initial;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}