@import "../static/stylesheets/variables.scss";

.postDate {
  margin-right: 50px;
}

.postTitle {
  color: $blue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $font-header;
  font-size: 1.2em;
}

.postsWrapper {
  margin-top: 20px;
}

.postListItem {
	margin: 8px;
  td {
    vertical-align: top;
  }
}
