@import "../static/stylesheets/variables.scss";

#coverPage {
  background: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9)), url(../static/images/background-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
}

#coverPage.coverPageFull{
  height: 100vh;
  width: 100%;
}

#coverPageName {
  font-size: 5em;
}

#coverPageName a, #coverPageName a:hover {
    color: $white;
    text-decoration: none;
}

.social {
  text-align: center;
  a {
    color: $white;
    display: inline-block;
    margin: 10px;
  }
}

.menuLinks ul{
  list-style: none;
  margin-left: 0;
  padding: 10px;
  li {
    margin: 5px;
    a {
    color: $white;
    text-decoration: none;
    font-size: 1.4em;
    }

  }
}
