@import "../static/stylesheets/variables.scss";

#coverPage {
  background: url(../static/images/benjamin-child-6msS8vT5pzw-unsplash.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
}

#coverPage.coverPageFull{
  height: 100vh;
  width: 100%;
}

#coverPageName {
  font-size: 5em;
}

#coverPageName a, #coverPageName a:hover {
    color: $white;
    text-shadow: $black 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.social {
  text-align: center;
  a {
    color: $white;
    text-shadow: $black 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin: 10px;
  }
}

.menuLinks {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: $black 0px 0px 2px;
  -webkit-font-smoothing: antialiased;

  ul{
    list-style: none;
    margin-left: 0;
    padding: 10px;

    li {
      margin: 5px;
      display: inline;

      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4em;
      }

      a:hover {
        border-bottom: solid 2px $blue;
      }
    }
  }
}
