@import "../static/stylesheets/variables.scss";

.navbar {
  background: linear-gradient(140deg,rgba(10, 108, 245, 0.6) 20%, rgba(0, 0, 0, 0.9)), url(../static/images/background-cover-converted.jpg) no-repeat center center fixed;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  overflow: auto;
}

h2 {
  color: $white;
  padding-left: 5px;
}

.social {
  display: inline-block;
  float: right;
  vertical-align: bottom;
  a {
    color: $white;
    display: inline-block;
    margin: 10px;
  }
}

.links {
  display: inline-block;
  float: left;
  ul {
    list-style: none;
    li {
      font-family: $font-header;
      display: inline;
      margin: 5px;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.nameLink {
  font-size: 1.4em;
}
