@import "../stylesheets/variables.scss";

.social-home {
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
}

.social-navbar {
  float: right;
  vertical-align: bottom;
}

.social-home, .social-navbar {
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
  a {
    color: $white;
    text-shadow: $black 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin: 10px;
  }
}