@import "../stylesheets/variables.scss";

.centerContent {
  text-align: center;
  margin: 0 auto;
}

.flex {
  @media only screen and (min-width: $break-large) {
    width: 80%;
    display: flex;
  }
}

.noFlex {
  @media (min-width: $break-large) {
    width: 960px;
  }
}
