@import "../stylesheets/variables.scss";

.centerContent {
  text-align: center;
}

.flexWrap {
  @media only screen and (min-width: $break-large) {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}
