@import "./variables.scss";

.contentWrapper {
  display: inline-block;
  overflow: auto;
  padding: 20px;
  max-width: 960px;
  a {
    color: $blue;
  }
}

.content {
  box-sizing: border-box;
  text-align: left;
}
