@import "./variables.scss";

.contentWrapper {
  display: inline-block;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  a {
    color: $blue;
  }
  width: 100%;
  @media (min-width: $break-large) {
    width: 960px;
  }
}

.content {
  box-sizing: border-box;
  text-align: left;
}
