@import "./variables.scss";

:global(.content-wrapper) {
  margin-left: 320px;
  overflow: auto;
  padding: 20px;
  h1 {
    text-align: center;
  }
  a {
    color: $blue;
  }
  @media screen and (max-width: $break-medium) {
    width: 100%;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    margin-left: 500px;
  }
}

:global(body) {
  font-family: $font-paragraph;
  color: $black;
  margin: 0;
}

@for $i from 1 through 6 {
  :global(h#{$i}) {
    font-family: $font-header;
  }
}

:global(.content) {
  box-sizing: border-box;
  margin: 0 auto;
  @media screen and (min-width: $break-large) {
    width: 90%;
  }
}
